[Desktop Entry]
Type=Application
Name=Virtual Keyboard
Exec='florence -u @@REPO_PATH@@/configs/florence.conf'
Icon=@@REPO_PATH@@/icons/keyboard.ico
Terminal=False