[Desktop Entry]
Type=Application
Name=Virtual Keyboard
Exec='/home/deck/beyond_SteamDeck/shell_scripts/desktop_part/florence.sh'
Icon=/home/deck/beyond_SteamDeck/icons/keyboard.ico
Terminal=False