[Desktop Entry]
Type=Application
Name=Talos Movement
Exec='@@REPO_PATH@@/shell_scripts/desktop_part/talos_movement.sh'
Icon=@@REPO_PATH@@/icons/favicon.ico
Terminal=False