[Desktop Entry]
Type=Application
Name=Talos Depth Camera
Exec='@@REPO_PATH@@/shell_scripts/desktop_part/talos_realsense.sh'
Icon=@@REPO_PATH@@/icons/favicon.ico
Terminal=False