[Desktop Entry]
Type=Application
Name=Talos Depth Camera
Exec='/home/deck/beyond_SteamDeck/shell_scripts/desktop_part/talos_realsense.sh'
Icon=/home/deck/beyond_SteamDeck/icons/favicon.ico
Terminal=False